<div class="h-layout">
    <!--Delete form-->
    <message-form class="max-width" *ngIf="message as msg" title="Supprimer ce message ?" editable="false" [message]="msg" (accept)="onAcceptClicked($event)" (cancel)="onCancelClicked()">
    </message-form>
</div>