<mat-card>
	<!-- Title -->
	<h2 class="center-text">Filtrer les messages</h2>
</mat-card>

<mat-card>
	<form [formGroup]="form">
		<div class="v-layout">
			<!-- Created Date Toggle -->
			<mat-slide-toggle formControlName="filterByCreatedDate" (toggleChange)="onToggleFilterByCreatedDate()">
				Filtrer par date de création ?
			</mat-slide-toggle>

			<!-- Created Date Range Picker -->
			<mat-form-field appearance="fill">
				<mat-label>Date de création</mat-label>
				<mat-date-range-input [rangePicker]="createdDate">
					<input matStartDate formControlName="fromCreatedDate" placeholder="Début">
					<input matEndDate formControlName="toCreatedDate" placeholder="Fin">
				</mat-date-range-input>
				<mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="createdDate"></mat-datepicker-toggle>
				<mat-date-range-picker #createdDate></mat-date-range-picker>
				<mat-error *ngIf="form.controls['fromCreatedDate'].hasError('matStartDateInvalid')">Date de début invalide</mat-error>
				<mat-error *ngIf="form.controls['toCreatedDate'].hasError('matEndDateInvalid')">Date de fin invalide</mat-error>
			</mat-form-field>

			<!-- Divider -->
			<mat-divider></mat-divider>

			<!-- Last Modified Date Toggle -->
			<mat-slide-toggle formControlName="filterByLastModifiedDate" (toggleChange)="onToggleFilterByLastModifiedDate()">
				Filtrer par date de modification ?
			</mat-slide-toggle>

			<!-- Last Modified Date Range Picker-->
			<mat-form-field appearance="fill">
				<mat-label>Date de modification</mat-label>
				<mat-date-range-input [rangePicker]="lastModifiedDate">
					<input matStartDate formControlName="fromLastModifiedDate" placeholder="Début">
					<input matEndDate formControlName="toLastModifiedDate" placeholder="Fin">
				</mat-date-range-input>
				<mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="lastModifiedDate"></mat-datepicker-toggle>
				<mat-date-range-picker #lastModifiedDate></mat-date-range-picker>
				<mat-error *ngIf="form.controls['fromLastModifiedDate'].hasError('matStartDateInvalid')">Date de début invalide</mat-error>
				<mat-error *ngIf="form.controls['toLastModifiedDate'].hasError('matEndDateInvalid')">Date de fin invalide</mat-error>
			</mat-form-field>

			<!-- Divider -->
			<mat-divider></mat-divider>

			<!-- Expitation Date Toggle -->
			<mat-slide-toggle formControlName="filterByExpirationDate" (toggleChange)="onToggleFilterByExpirationDate()">
				Filtrer par date d'expiration ?
			</mat-slide-toggle>

			<!-- Expitation Date Range Picker-->
			<mat-form-field appearance="fill">
				<mat-label>Date d'expiration</mat-label>
				<mat-date-range-input [rangePicker]="expirationDate">
					<input matStartDate formControlName="fromExpirationDate" placeholder="Début">
					<input matEndDate formControlName="toExpirationDate" placeholder="Fin">
				</mat-date-range-input>
				<mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
				<mat-date-range-picker #expirationDate></mat-date-range-picker>
				<mat-error *ngIf="form.controls['fromExpirationDate'].hasError('matStartDateInvalid')">Date de début invalide</mat-error>
				<mat-error *ngIf="form.controls['toExpirationDate'].hasError('matEndDateInvalid')">Date de fin invalide</mat-error>
			</mat-form-field>

			<!-- Divider -->
			<mat-divider></mat-divider>

			<!-- Tags Toggle -->
			<mat-slide-toggle formControlName="filterByTags" (toggleChange)="onToggleFilterByTags()">
				Filtrer par mots clés ?
			</mat-slide-toggle>

			<!-- Tags -->
			<mat-form-field>
				<mat-label>mot-clé</mat-label>
				<mat-chip-list #chipList formControlName="tags">
					<mat-chip *ngFor="let tag of form.get('tags')?.value" (removed)="onRemoveTag(tag)">
						{{tag}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<input placeholder="+" [matChipInputFor]="chipList" (matChipInputTokenEnd)="onAddTag($event)">
				</mat-chip-list>
			</mat-form-field>
		</div>
	</form>
</mat-card>

<button mat-raised-button color="accent"
		(click)="onApplyClicked()"
		[disabled]="!this.formChanged">
	Appliquer
</button>
<!--[disabled]="messagesRequestParameters.areAllFiltersDisabled">-->
