:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form {
    mat-form-field, mat-slide-toggle, mat-divider {
        margin-top: 16px;
        font-size: 9pt;
    }
}

button {
    margin-top: 32px;
}
