<!--Card-->
<mat-card class="v-layout">

	<!--Text and icon-->
	<div class="h-layout">
		<div class="flex-80" [innerHTML]="message.text | safeHtml"></div>
		<img *ngIf="message.iconUrl" height="64" [src]="message.iconUrl" />
	</div>

	<!--Link-->
	<a *ngIf="message.link" [href]="message.link">{{message.link}}</a>

	<!--Tags-->
	<div class="chip-list-div">
		<mat-chip-list aria-label="Tags" selectable="false">
			<mat-chip *ngFor="let t of message.tags">
				{{t}}
			</mat-chip>
		</mat-chip-list>
	</div>

	<mat-divider></mat-divider>

	<!--Details-->
	<div class="h-layout details-div">

		<!--Labels-->
		<div class="v-layout flex-25">
			<p>Créé le:</p>
			<p *ngIf="message.expirationDate">Expire le:</p>
		</div>

		<!--Fields-->
		<div class="v-layout flex-70">
			<p>{{message.createdDate | date: 'dd MMMM yyyy à HH:mm'}}</p>
			<p *ngIf="message.expirationDate">{{message.expirationDate | date: 'dd MMMM yyyy à HH:mm'}}</p>
		</div>

		<!--Edit Buttons-->
		<div *ngIf="showDetailsButton==='true'" class="v-layout flex-05">
			<button mat-raised-button (click)="onViewDetailsClicked()">
				<img src="assets/view.png" width="16" height="16" />
			</button>
		</div>

	</div>
</mat-card>
