<div class="h-layout">

	<!--Layout-->
	<div class="v-layout max-width">

		<!--Title Card-->
		<mat-card>
			<h2 class="center-text">Connexion</h2>
		</mat-card>

		<!--Login form-->
		<mat-card>
			<form class="v-layout">

				<!--Email-->
				<label for="email">Email</label>
				<mat-form-field>
					<input matInput type="email" id="email" formControlName="email">
				</mat-form-field>

				<!--Password-->
				<label for="password">Mot de passe</label>
				<mat-form-field>
					<input matInput type="password" id="password" formControlName="password">
				</mat-form-field>

			</form>
		</mat-card>

		<!--Dialog Buttons-->
		<div class="h-layout">
			
			<!--Login Button-->
			<button mat-raised-button color="accent" class="flex-40" (click)="onLogin()">Connexion</button>

			<!--Spacer-->
			<div class="flex-20"></div>

			<!--Cancel Button-->
			<button mat-raised-button color="accent" class="flex-40" (click)="onCancel()">Annuler</button>
		
		</div>
	</div>
</div>