<div class="h-layout">
	
	<div class="flex-20">
		<message-filter (apply)="onApplyFilters($event)"></message-filter>
	</div>

	<div class="flex-60 h-layout">
		<div class="v-layout max-width">
			<message-preview *ngFor="let msg of messages$ | async" [message]="msg" showDetailsButton="true">
			</message-preview>
			
			<button mat-raised-button color="accent" (click)="onButtonAddClicked()">Ajouter</button>
		</div>
	</div>

	<div class="flex-20">
	</div>
</div>
