<div class="h-layout">

    <!--Creation form-->
    <message-form class="max-width" title="Créer un nouveau message ?" [message]="message" (accept)="onAcceptClicked($event)" (cancel)="onCancelClicked()">
    </message-form>

</div>
