<!--Header-->
<header>

	<!--Toolbar-->
	<mat-toolbar>
		
		<!-- <mat-toolbar-row> -->
			<!--Title-->
			<h1 class="center-text">CHALLENGE SIPF</h1>
		<!-- </mat-toolbar-row> -->
		
		<!-- <mat-toolbar-row> -->
			<!--Navigation links-->
			<nav>
				<a mat-raised-button routerLink="/home" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">Acceuil</a>
				<a mat-raised-button routerLink="/messages" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">Messages</a>
				<a mat-raised-button routerLink="/messages/create" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">Créer</a>
			</nav>
			<!-- </mat-toolbar-row> -->
	</mat-toolbar>

</header>

<!--Router outlet where pages are displayed-->
<router-outlet></router-outlet>
