<div class="h-layout">
	<div class="v-layout max-width">
		<a mat-raised-button class="center-text" color="accent" [routerLink]="['/messages']">Voir les messages</a>
		<a mat-raised-button class="center-text" color="accent" [routerLink]="['/messages/create']">Créer un nouveau message</a>
	</div>
</div>
