// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Rich text editor
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-icons/styles/material.css';
@import '@syncfusion/ej2-buttons/styles/material.css';
@import '@syncfusion/ej2-splitbuttons/styles/material.css';
@import '@syncfusion/ej2-inputs/styles/material.css';
@import '@syncfusion/ej2-lists/styles/material.css';
@import '@syncfusion/ej2-navigations/styles/material.css';
@import '@syncfusion/ej2-popups/styles/material.css';
@import '@syncfusion/ej2-richtexteditor/styles/material.css';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$challenge-sipf-primary: mat.define-palette( mat.$grey-palette, 700 );
$challenge-sipf-accent: mat.define-palette( mat.$grey-palette, A200, A100, A400 );

// The warn palette is optional (defaults to red).
$challenge-sipf-warn: mat.define-palette( mat.$red-palette, 900 );

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$challenge-sipf-theme: mat.define-dark-theme((
  color: (
    primary: $challenge-sipf-primary,
    accent: $challenge-sipf-accent,
    warn: $challenge-sipf-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($challenge-sipf-theme);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	text-decoration-color: white;
}

mat-card {
    margin: 32px 0 0 0;
}

a {
	color: white;
	text-decoration: none;
	overflow-wrap: break-word;

	&:hover {
		text-decoration: underline;
	}
}

.chip-list-div {
	padding: 16px 0;
}

.details-div {
	padding: 16px 0 0 0;
}

.v-spacer {
	height: 16px;
}

.h-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.h-left-layout {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.v-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.flex {
	flex: auto;
}

.flex-05 {
	flex: 5;
}

.flex-10 {
	flex: 10;
}

.flex-15 {
	flex: 15;
}

.flex-20 {
	flex: 20;
}

.flex-25 {
	flex: 25;
}

.flex-30 {
	flex: 30;
}

.flex-35 {
	flex: 35;
}

.flex-40 {
	flex: 40;
}

.flex-45 {
	flex: 45;
}

.flex-50 {
	flex: 50;
}

.flex-55 {
	flex: 55;
}

.flex-60 {
	flex: 60;
}

.flex-65 {
	flex: 65;
}

.flex-70 {
	flex: 70;
}

.flex-75 {
	flex: 75;
}

.flex-80 {
	flex: 80;
}

.flex-85 {
	flex: 85;
}

.flex-90 {
	flex: 90;
}

.flex-95 {
	flex: 95;
}

.flex-100 {
	flex: 100;
}

.max-width {
	max-width: 512px;
	width: 480px;
	min-width: 384px;
}

.center-text {
	text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
