<!--Layout-->
<div class="v-layout">

	<!--Title Card-->
	<mat-card>
		<h2 class="center-text">{{title}}</h2>
	</mat-card>

	<!--Creation or modification form-->
	<form *ngIf="editable==='true'" [formGroup]="form">
		<mat-card>
			<div class="v-layout">
				<!-- Text -->
				<label for="text">Text:</label>
				<!--<mat-form-field>
					<textarea matInput id="text" type="text" formControlName="text" rows="4"></textarea>
				</mat-form-field>-->

				<ejs-richtexteditor [value]="form.get('text')?.value" id='textRTE' (change)="onRichTextChanged($event)">
				</ejs-richtexteditor>

				<!-- Icon -->
				<label for="icon">Icon:</label>
				<mat-form-field>
					<input matInput id="icon" type="url" formControlName="iconUrl" />
				</mat-form-field>

				<!-- Link -->
				<label for="link">Lien:</label>
				<mat-form-field>
					<input matInput id="link" type="url" formControlName="link" />
				</mat-form-field>

				<label for="expiration">Date d'expiration:</label>
				<mat-form-field>
					<input matInput [matDatepicker]="expirationDate" formControlName="expirationDate">
					<mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
					<mat-hint>DD/MM/YYYY</mat-hint>
					<mat-datepicker #expirationDate></mat-datepicker>
				</mat-form-field>

				<div class="v-spacer"></div>

				<!-- Tags -->
				<label>Mots Clés:</label>
				<mat-form-field>
					<mat-chip-list #chipList formControlName="tags">
						<mat-chip *ngFor="let tag of form.get('tags')?.value" (removed)="onRemoveTag(tag)">
							{{tag}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input placeholder="+" [matChipInputFor]="chipList" (matChipInputTokenEnd)="onAddTag($event)">
					</mat-chip-list>
				</mat-form-field>
			</div>
		</mat-card>
	</form>

	<!--detailed view-->
	<message-detailed-view *ngIf="editable==='false'" showEditButton="false" [message]="message">
	</message-detailed-view>

	<!--Preview Card-->
	<message-preview *ngIf="editable==='true'" [message]="message" showDetailsButton="false"></message-preview>

	<!--Dialog Buttons-->
	<div class="h-layout">

		<!--Confirm Button-->
		<button mat-raised-button class="card flex-40" (click)="onAcceptClicked()" [disabled]="form.invalid">Valider</button>

		<!--Spacer-->
		<div class="flex-20"></div>

		<!--Cancel Button-->
		<button mat-raised-button class="card flex-40" (click)="onCancelClicked()">Annuler</button>

	</div>

</div>
