<div class="h-layout">
    <!--Edition form-->
    <message-form class="max-width" *ngIf="message as msg" title="Modifier ce message ?" [message]="msg" (accept)="onAcceptClicked($event)" (cancel)="onCancelClicked()">
    </message-form>
</div>
